// отрезки*-1px
// 1400px 
// 1199px
// 991px 	
// 767px 	
// 575px 	
// 320px 
@media screen and ( max-width: 992px ) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 250px;
            img {
                width: 80%;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 70px;
            margin-right: 30px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 23px;
        }
        &__icons {
            margin-top: 55px;
        }
    }
    .advantages {
        &__descr {
            width: 200px;
        }
        &__title {
            font-size: 27px;
        }
        &__text {
            margin-top: 15px;
        }
    }
    .consultation {
        padding: 100px 40px 108px;
        &__title {
            font-size: 27px;
        }
    }
    .catalog {
        &__title {
            font-size: 27px;
        }
        &__content {
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and ( max-width: 767px ) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
            img {
                width: 75%;
            }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            margin-top: 2px;
            font-size: 10px;
            width: 130px;
            line-height: 9px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 70px;
            margin-right: 30px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .advantages {
        &__descr {
            width: 150px;
        }
        &__title {
            font-size: 25px;
        }
        &__text {
            margin-top: 8px;
            font-size: 12px;
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 13px;
        }
    }
    .consultation {
        padding: 80px 40px 80px;
        &__title {
            font-size: 21px;
            line-height: 36px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .feed-form {
        width: 280px;
    }
    .carousel {
        &__inner {
            width: 576px;
        }
    }
    .catalog {
        &__title {
            font-size: 21px;
        }
        &__content {
            justify-content: center;
            align-items: center;
        }
        &__tab {
            width: 150px;
            height: 45px;
            line-height: 43px;
            font-size: 15px;
        }
    }
}
@media screen and ( max-width: 575px ) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 120px;
            img {
                width: 105%;
            }
        }
        &__phone {
            font-size: 15px;
        }
        &__official {
            font-size: 10px;
            line-height: 12px;
            span {
                margin-top: 3px;
                font-size: 12px;
                line-height: 13px;
            }
        } 
        .button {
            width: 100px;
            font-size: 9px;
            height: 20px;
            line-height: 8px;
        }
        &__phone {
            font-size: 9px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 50px;
            margin-right: 30px;
            align-items: center;
            justify-content: center;
        }
        &__header {
            font-size: 20px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            margin-top: 20px;
            width: 300px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            margin-top: 15px;
        }
        &__link {
            font-size: 14px;
            a {
                font-size: 14px;
            }
        }
    }
    .button {
        &_main {
            width: 135px;
            font-size: 9px;
            height: 40px; 
        }
}
    .advantages {
        &__wrapper {
            margin-top: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__descr {
            margin-top: 25px;
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            margin-top: 10px;
        }
    }
    .consultation {
        padding: 80px 40px 80px;
        &__title {
            font-size: 18px;
            line-height: 25px;
        }
        &__descr {
            font-size: 15px;
            line-height: 20px;
        }
        br {
            display: none;
        }
    }
    .feed-form {
        margin-top: 25px;
        width: 230px;
    }
    .button {
        &_submit {
            font-size: 14px;
            height: 50px;
        }
    }
    .carousel {
        &__inner {
            width: 320px;
        }
    }
    .catalog {
        &__title {
            font-size: 18px;
        }
        &__content {
            justify-content: center;
            align-items: center;
        }
        &__tab {
            width: 93px;
            height: 34px;
            line-height: 33px;
            font-size: 10px;
            transform: skew(0deg);
            div {
            transform: skew(0deg);
            }
        }
        &-item {
            width: 240px;
            min-height: 406px;
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size:10px ;
                line-height: 18px;
            }
            &__list {
                li {
                    font-size: 10px;
                    line-height: 14px;
                    padding: 15px 0;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 19px;
                        left: -10px;
                        display: block;
                        height:4px;
                        width:4px;
                    }
                }
            }
            &__img {
                height: 180px;
            }
            &__link {
                font-size: 12px;
            }
            &__old-price {
                font-size: 12px;
                line-height: 20x;
            }
            &__price {
                line-height: 20px;
                font-size: 16px;
            }
        }
        
        .button {
            &_mini {
                width: 93px;
                height: 34px;
                line-height: 33px;
                font-size: 10px;
            }
        }

    }
}   
