.advantages {
    height: 473px;  
    padding: 73px 0 65px 0;
    &__title {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #0D0D0D;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__descr {
        width: 273px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 35px;
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
            text-align: center;

    }
    &__text {
        margin-top: 20px;
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        a {
            color: #FF0000;
            &:hover {
                color:#0D0D0D;
                text-decoration: none;
                transition: 0.7s all;
            }
        }
    }
}