.catalog {
        padding-bottom: 80px;
    &__title {
        margin-bottom: 46px;
        color: #0D0D0D;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 57px;
        list-style-type: none;
        }
    &__tab {
        height: 52px;
        width: 223px;
        font-size: 18px;
        font-weight: 400;
        color: #6B6B6B;
        line-height: 48px;
        text-align: center;
        border: 2px solid #D0D0D0;
        text-transform: uppercase;
        transform: skew(-25deg);
        cursor: pointer;
        div {
        transform: skew(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #FFFFFF;
            border: none;
        }
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
            transition: .7s all;
        }
        &:nth-child(2) {
            margin: 0 10px;
        }
    }
    &__content {
        display: none;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
        }
    &-item {
        margin: 0 6px 12px;
        position: relative;
        min-height: 442px;
        width: 303px;
        padding: 20px 26px 21px 27px ;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            height: 200px;
            max-width: 100%;
        }
        &__subtitle {
            margin-top: 15px;
            color: #0D0D0D;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
        }
        &__descr {
            // пока не знаю, как решить проблему с двумя строчками(больше не вмещается)
            // word-wrap: break-word;
            // width: 250px;
            margin: 0 auto;
            margin-top: 15px;
            color: #0D0D0D;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
        }
        &__link {
            margin-top: 10px;
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: $main-color;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin:14px 0;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            line-height: 20x;
            text-decoration:line-through;
        }
        &__price {
            line-height: 20px;
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }

// делаем обертку для двух секций, чтобы по клику менять два кубика(информации) местами
// засчет двух марджинов у (content и list) секция стала больше, поэтому нам надо прибавить к 200% еще 40px
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-102%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            // position: relative;
            width: 50%;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            padding-right: 15px;
            transform: translateX(0%);
            transition: 0.5s all;
            li {
                position: relative;
                color: #555;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                padding: 10px 0;
                &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -16px;
                    display: block;
                    height:6px;
                    width:6px;
                    background-color: $main-color;
                }
            }
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(calc(50% - 19px));
            color: $main-color;
            color: #C70101;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration-line: underline;
            &:hover {
                color: $main-color;
            }
        }
    }
}