.consultation {
    min-height: 680px;
    background: url('../bg/consultation_bg.jpg') center center/cover no-repeat;
    padding: 100px 0 108px 0;
    &__title {
        margin: 0;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
        text-transform: uppercase;
    }
    &__descr {
        margin-top: 8px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;

    }
}